@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --body-font:Karla, sans-serif;
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow:hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--light-gray);
}

main{
    width: 80%;
    min-width: 19rem;
    max-width: 69rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
            "first-area"
            "second-area"
            "third-area";
    margin: 70px auto ;
    font-family: var(--body-font);
}

.container-1{
    grid-area: first-area;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px 5px 0 0 ;

}

.container-2{
    grid-area: second-area;
    background-color: var(--cyan); 
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;

}
.container-3{
    grid-area: third-area;
    background-color: rgb(80, 187, 188); 
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    color: white;

}

.container-1__header{
    color: var(--cyan);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container-1__text{
    color:var(--bright-yellow);
    font-weight: 400;
    font-size: 0.95rem;
    margin-bottom: 5px;
}
.container-1__akapit{
    color: var(--grayish-blue);
    font-size: 0.85rem;
    line-height: 25px;
  
}
.container-2__header{
    font-size: 1.1rem;
    margin-bottom: 20px;
    margin-top: 5px;
   
}
.container-2__cost{
    display: flex;
    margin-bottom: 0px;
}
.container-2__price{
    font-size: 2rem; 
    font-weight: 700;
}
.container-2__pricefor{
   padding-left: 15px;
   margin: auto 0;
}
.containert-2__description{
    margin-top: 5px;
}
.contaner-2__button{
    background-color: var(--bright-yellow);
    padding: 15px 0;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--grayish-blue);
    color: white;
    font-size: 1rem;
}
.contaner-2__button:hover{
    color:var(--grayish-blue);
    box-shadow: inset 0 0 4px var(--grayish-blue);
}
.container-3__header{
    font-size: 1.1rem;
    margin-top: 6px;
    margin-bottom: 7px;
}
.container-3__description{
    font-size: 0.85rem;
    line-height: 20px;
    margin-bottom: 5px;
}

@media only screen and (min-width:800px) {
    
    main{
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.8fr, 1.2fr;
        grid-template-areas: 
                "first-area first-area"
                "second-area third-area";
        margin: 165px auto;
    }
    .container-1{
        padding: 40px;
    }
    .container-1__header{
        font-size: 1.5rem;
        margin-top:0;
        margin-bottom: 5px;
    }
    .container-1__text{
        font-size: 1.15rem;
    }
    .container-1__akapit{
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .container-2{
        padding:35px 40px;
        border-radius: 0 0 0 10px;
    }
    .containert-2__description{
        font-size: 0.95rem;
    }
    .container-3{
        padding:35px 40px;
        border-radius: 0 0 10px 0;
    }
    
}


@media only screen and (min-width:1200px) {
    
    main{
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.8fr, 1.2fr;
        grid-template-areas: 
                "first-area first-area"
                "second-area third-area";
        margin: 165px auto;
    }
    .container-1{
        padding: 40px;
    }
    .container-1__header{
        font-size: 1.5rem;
        margin-top:0;
        margin-bottom: 5px;
    }
    .container-1__text{
        font-size: 1.15rem;
    }
    .container-1__akapit{
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .container-2{
        padding:35px 40px;
        border-radius: 0 0 0 10px;
    }
    .containert-2__description{
        font-size: 0.95rem;
    }
    .container-3{
        padding:35px 40px;
        border-radius: 0 0 10px 0;
    }
    
}

@media only screen and (min-width: 1400px){

    main{
        width: 44%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.8fr, 1.2fr;
        grid-template-areas: 
                "first-area first-area"
                "second-area third-area";
        margin: 165px auto;
    }
    .container-1{
        padding: 40px;
    }
    .container-1__header{
        font-size: 1.5rem;
        margin-top:0;
        margin-bottom: 5px;
    }
    .container-1__text{
        font-size: 1.15rem;
    }
    .container-1__akapit{
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .container-2{
        padding:35px 40px;
        border-radius: 0 0 0 10px;
    }
    .containert-2__description{
        font-size: 0.95rem;
    }
    .container-3{
        padding:35px 40px;
        border-radius: 0 0 10px 0;
    }
    
}

